.container-flex {
    margin: 10px;

    .filter-container {
        display: flex;
        justify-content: space-between;

        .action-button {
            button{
                padding: 7px 10px !important;
                border-radius: 1px !important;
                border: none;
            }
        }

        .search-box {
            input {
                width: 600px !important;
                padding: 7px 10px !important;
            }
        }
    }
    .details{
        color: #7ea0b2;
        line-height: 40px;
    }
}

::ng-deep .p-button-text {
    color: #545454 !important;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;

}

::ng-deep .p-button-blue{
    background-color: #052b42;

    &:hover{
        background-color: rgb(15, 16, 17) !important;
    }
}